@CHARSET "ISO-8859-1";
.box {
  position: absolute;
  top: 170%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: black;
  color: white;
  padding: 12px;
  width: 350px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 99, 71, 0.6);
}

.box select option {
  padding: 30px;
}
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  /* Base font size */
  font-size: 10px;   
  
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}
.wrapper {
  height: 2vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 5s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 18px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

body {
  font-family: 'Exo 2', sans-serif;
    display: flex;
    
 flex-direction: column;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;
}
    
.texts {
margin-top: 15vh;
color: #aaa;
  font-size: 50px;
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.texts:hover {
  transform: rotateX(35deg), translateY(-50%);
}
.texts:hover span {
  color: #ccc;
}
.texts:hover span:nth-child(odd) {
  transform: skewY(15deg);
}
.texts:hover span:nth-child(even) {
  transform: skewY(-15deg);
  background-color: #f9f9f9;
  color: #a6a6a6;
}
.texts > span {
  display: block;
  background-color: #fff;
width: 76px;
  height: 120px;
  line-height: 120px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
}
.texts > span:first-child {
  border-radius: 5px 0 0 5px;
}


/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 900px;
  border: 15px solid black;
  margin: auto;
  text-align: center;
  font-family: arial;
}

body  {
 background-image: url('images/d1.jpg');
  background-size: cover;
   background-position: center;
  background-repeat: no-repeat;

}
p {
  font-family: "Times New Roman", Times, serif;
  font-size:18px

}

.price {
  color: black;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 15px 32px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  font-size: 22px;
}

.card button:hover {
  opacity: 0.5;
}
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #cc0099;
  --color-2: #3D8DAE;
  --color-3: #ff0066;
}
@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}