.btn {
			padding: 10px 20px;
			background-color: #f5a5da;
			color: #f570ea;
                         border:none;
			
			transition: .2s;
		}
		.btn:hover, .btn:focus {
		
			background-color:#fad399;
			color: #47a7f7;
}
.nav-tabs li a {
			color: rgb(0, 0, 0);
		}
		.navbar {
			font-family: Montserrat, sans-serif;
			margin-bottom: 0;
			background-color: #8fd6bc;
			border: 0;
			font-size: 15px !important;
			letter-spacing: 1.5px;
			opacity: 0.9;
		}
		.navbar li a, .navbar .navbar-brand { 
			color: #020202 !important;
		}
		.navbar-nav li a:hover {
			color: #ee0caa !important;
		}
		.navbar-nav li.active a {
			color: rgb(243, 34, 226) !important;
			background-color: #f80cc5 !important;
		}
		.navbar-default .navbar-toggle {
			border-color: #FFFFFF;
		}
		.open .dropdown-toggle {
			color:#FFFFFF ;
			background-color: #FBFCFC !important;
		}
		.dropdown-menu li a {
			color: #000 !important;
		}
		.dropdown-menu li a:hover {
			background-color: #2C3E50 !important;
		}
		footer {
			background-color: #FBFCFC;
			color: #FBFCFC;
			padding: 32px;
		}
		footer a {
			color: #FBFCFC;
		}
		footer a:hover {
			color: #777;
			text-decoration: none;
		}  
		.form-control {
			border-radius: 0;
		}
		textarea {
			resize: none;
		}
#myInput {
  
  background-position: 1px 2px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 2px 2px 2px 2px;
  border: 2px solid #ddd;
  margin-bottom: 3px;

}

#myUL {
  list-style-type: none;
  padding:2;
  margin: 0;
 display: inline-block;
   width: auto;
   list-style: outside none none;


}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
   padding: 4px;
display: inline-block;
  text-decoration: none;
  font-size: 10px;
  color: black;
  
float: left;

}

#myUL li a:hover:not(.header) {
  background-color: #eee;
color:vlack;


}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
    

.container{
    background-color: #fff;
    width: 1000px;
    height: 600px;
    position: absolute;
    left: 530px;
  top: 400px;
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 50px rgba(0,0,0,.2);
}
.container::before{
    content: '';
    width: 520px;
    height: 600px;
    background-color:blue;
    position: absolute;
    
    
}
.icon img{
    position: absolute;
    
    width: 520px;
    height: 600px;
}

.icon p{
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    color: #fff;
}
.social{
    position:absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%,-50%);
}
.social img{
    width: 70px;
    height: 70px;
    padding: 15px;
    margin: 0 2px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
}
.social img:hover{
    transform: scale(1.2);
    transition: .5s;
}
body { 
  background: #ffffff;
  font-family: helvetica, arial, serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}
 
.wrap {
  display: inline-block;
  -webkit-box-shadow: 0 0 70px #fff;
  -moz-box-shadow: 0 0 70px #fff;
  box-shadow: 0 0 70px #fff;
  margin-top: 65px;
}

/* a little "umph" */
.decor {
  background: #6EAF8D;
  background: -webkit-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -moz-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -o-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: linear-gradient(left, white 50%, #6EAF8D 50%);
  background-size: 50px 25%;;
  padding: 2px;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

.de {
  position: relative;
  background: 	#000000;
  background-image: -webkit-linear-gradient(bottom, #000000 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #000000 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #000000 7%, #333333 100%);
  background-image: linear-gradient(bottom,#0000007%, #333333 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* prime */
ul.primary li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  
  color: #000;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   li {
    float: none;
  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub li a {
    background: #272727;
  	border: none;
    color: #8B8B8B;
  }
  
  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}
